{% extends 'layout.html' %}
{% set active_page='register' -%}

{% block body %}
    <h3>Register Page</h3>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="{{ url_for('register') }}">
                <div class="form-group">
                  <input type="text" class="form-control" name="first_name" placeholder="First Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-outline-primary" value='Submit' />
                </div>
            </form>
        </div>
    </div>
{% endblock %}