{% extends 'layout.html' %}
{% set active_page='login' -%}

{% block title %}
    {{ super() }} | Users
{% endblock %}

{% block body %}
    <h3>Users Page</h3>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
			<h5>Fakebook Users</h5>
			<ul class="list-group">
				{% for u in users %}
					<li class="list-group-item">
						{{ "{} {}".format(u.first_name, u.last_name) }}
						<span class="float-right">
							{% if current_user.is_following(u) %}
								<a href="{{ url_for('unfollow', id=u.id) }}" class="btn btn-warning btn-sm">Unfollow</a>
							{% else %}
								<a href="{{ url_for('follow', id=u.id) }}" class="btn btn-info btn-sm">Follow</a>
							{% endif %}
						</span>
					</li>
				{% endfor %}
			</ul>
		</div>
    </div>
{% endblock %}